.featuredContainer {
    width: 100vw;
    height: 350vh;
    background-color: #2C2C2C;
    display: flex;
    flex-direction: column;
}

.project {
    background-color: rgb(255, 255, 255);
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.301);
    border-radius: 15px;
    width: 80vw;
    height: 90vh;
    display: flex;
    gap: 2vw;
    align-items: center;
    justify-content: center;
    margin: 10vh auto;
}

.featuredProjectImg {
    width: 40vw;
    height: 70vh;
    border-radius: 10px;
    cursor: pointer;
}



.text {
    width: 35vw;
    text-align: start;
}

.text button {
    width: 7vw;
    height: 5vh;
    font-size: 0.8rem;
    border: none;
    border-radius: 3px;
}

.text button a {
    text-decoration: none;
    justify-content: center;
    display: flex;
}

.liveSiteBtn {
    background-color: #007bff;

}

.liveSiteBtn a {
    color: white;
}

.viewCodeBtn,
.downloadBtn {
    background-color: white;
}