@import url('https://fonts.googleapis.com/css2?family=MyCustomFont:wght@100;200;300;400;500;600;700;800;900&family=Nunito+Sans:ital,opsz,wght@1,6..12,600&display=swap');

@font-face {
    font-family: 'MyCustomFont';
    /* שם הפונט */
    src: url('/public/fonts/brown-sugar.ttf') format('truetype');
    /* נתיב לקובץ הפונט */
    font-weight: normal;
    font-style: normal;
}

@import url('https://fonts.googleapis.com/css2?family=Abhaya+Libre:wght@400;500;600;700;800&display=swap');

* {
    box-sizing: border-box;
    scroll-behavior: smooth;
}


body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    color: #000;
    /* height: 1000vh; */
}

/* 
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

.container,
.topNav,
header,
#onMe,
.iconsContainer,
#projectsContainer,
#conectsContainer,
footer,
.underFooter {
    width: 100vw;
    margin: auto;
}


.topNav {
    width: 100vw;
    top: 0;
    height: 80px;
    position: sticky;
    background-color: #fcfcfc;
    z-index: 2;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 48vw;

}

.topNav .profile {
    display: flex;
    flex-direction: row;
    gap: 20px;
    list-style-type: none;
    margin-left: 90px;
}

.topNav .profile img {
    width: 62px;
    height: 62px;
    border-radius: 100px;
}

.topNav .profile li {
    width: 120px;
    height: 35px;
    font-family: cursive;
    margin-top: 15px;
    font-size: 1.3rem;
    color: #2C2C2C;
}

.topNav .navBar {
    display: flex;
    flex-direction: row;
    list-style-type: none;
}


.topNav .navBar li {
    width: 120px;
    height: 100%;
    text-align: center;
    font: normal normal normal 25px/37px 'MyCustomFont';
}



.navBar a {
    text-decoration: none;
    color: #2C2C2C;
}

.navBar a:focus {
    color: #1AE0EC;
    font: normal normal bold 25px/37px MyCustomFont;
}

.navBarMobile {
    display: none;
} */




.header {
    height: 200vh;
    /* padding: 100px; */
    /* background: #13E8F163; */
}

.headerContainer {
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.box {
    width: 150px;
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    font-weight: bold;
    position: absolute;
}

.headlineHeader {
    right: 0;
}

.headlineHeader {
    text-align: center;
    font-family: 'MyCustomFont', sans-serif;
    /* font: normal normal 900 80px/118px 'MyCustomFont'; */
    letter-spacing: 0px;
    /* color: #3A3A3A; */
    margin-bottom: 8px;
}

.textHeader {
    left: 0;
}

.spacer {
    height: 100vh;
}

/* header .headlineHeader p {
    font: normal normal medium 20px/30px 'MyCustomFont';
    letter-spacing: 0px;
    color: #3A3A3A;
    text-align: center;
} */

.iconsContainer {
    height: 130px;
    background-color: #ff0000;
    box-shadow: 0px 3px 6px #00000029;
    display: flex;
    flex-direction: row;
    gap: 25px;
    justify-content: center;
    align-items: center;
    z-index: 9;
    position: relative;
}

.iconsContainer br {
    display: none;
}

.iconsContainer img {
    width: 100px;
    height: 100px;
}

.ProjectsButtons {
    display: flex;
    gap: 10px;
}

/* .ProjectsButtons button {
    opacity: 1;
} */

.projectSection {
    width: 100vw;
    /* overflow-y: auto;
    scroll-snap-type: y mandatory; */
    /* scroll-behavior: smooth; */
    /* height: 500vh; */
    padding: 100px;
    position: relative;
    gap: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
    z-index: 1;
    margin: auto;
    background-color: #fff;
    /* color: #000; */
}

.projects {
    /* min-height: 200vh; */
    /* scroll-snap-align: start; */
}

/* .project {
    width: 60vw;
    height: 80vh;
    padding: 0 auto;
    background-color: #f0f0f0;
    border-radius: 10px;
    box-shadow: 0px 3px 6px #00000029;
} */

/* .jsProjectsContainer {
    padding: 20px 20px 20px 20px;
    height: 100vh;
} */







.aboutMe {
    width: 100vw;
    /* height: 100vh; */
    padding: 100px;
    /* text-align: center; */
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 50px;
    z-index: 1;
    margin: auto;
}


.aboutMe img {
    width: 35vw;
    height: 100vh;
    border-radius: 80px;
}

.textOnMe {
    align-items: center;
    height: 100vh;
}

.textOnMe h2 {
    font: normal normal 900 60px/100px 'MyCustomFont';
    /* color: #3A3A3A; */
}

.textOnMe p {
    width: 40vw;
    /* width: 798px;
    height: 200px; */
    font: normal normal normal 20px/29px 'Abhaya Libre';
    /* color: #3A3A3A; */
}


.viewBtn {
    width: 260px;
    height: 41px;
    /* background: #1AE0EC 0% 0% no-repeat padding-box; */
    border-radius: 25px;
    font: normal normal bold 20px/30px 'MyCustomFont';
    letter-spacing: 0.3px;
    /* color: #3A3A3A; */
    box-shadow: #000 0 2px 2px;
    cursor: pointer;
}

.viewBtn:hover {
    width: 265px;
    height: 45px;
}


/* .textProjects h2 {
    text-align: center;
    font: normal normal 900 36px/53px 'MyCustomFont';
    letter-spacing: 0px;
    color: #3A3A3A;
}

.textProjects #mainP {
    text-align: center;
    font: normal normal normal 20px/29px 'MyCustomFont';
    letter-spacing: 0px;
    color: #3A3A3A;
} */




/* Contact */
#conectsContainer {
    height: 959px;
    background: #3A3A3A;
    display: flex;
    flex-direction: row;
    gap: 10vw;
    align-items: center;
    text-align: right;
}

#conectsContainer .letterContainer {
    margin-top: 0;
    height: 100%;
    margin-left: 100px;
}

.letterContainer img {
    width: 30vw;
}

#conectsContainer form {
    width: 40vw;
}

#conectsContainer form h3 {
    font: normal normal 900 36px/53px 'MyCustomFont';
    letter-spacing: 0px;
    color: #FFFFFF;
    margin-bottom: 10px;
}

#conectsContainer form p {
    width: 100%;
    height: 58px;
    font: normal normal normal 20px/29px 'MyCustomFont';
    letter-spacing: 0px;
    color: #FFFFFF;
    margin-bottom: 50px;
}

#conectsContainer form label {
    font: normal normal bold 16px/24px 'MyCustomFont';
    letter-spacing: 0px;
    color: #FFFFFF;
}

#conectsContainer form input {
    width: 100%;
    height: 50px;
    margin-bottom: 15px;
    border-radius: 10px;
    font-size: 1.6rem;
    text-align: right;
}

textarea {
    width: 100%;
    height: 200px;
    border-radius: 10px;
    text-align: right;
    font-size: 1.6rem;
}


#conectsContainer #submit {
    width: 166px;
    height: 50px;
    background: #1AE0EC 0% 0% no-repeat padding-box;
    border-radius: 25px;
    font: normal normal bold 22px/30px 'MyCustomFont';
    letter-spacing: 0.33px;
    color: #2C2C2C;
    text-align: center;
    box-shadow: hsl(241, 100%, 18%) 0 3px 3px;
    cursor: pointer;
}

#conectsContainer #submit:hover {
    width: 170px;
    height: 52px;
}

footer {
    height: 200px;
    background: #1AE0EC;
    padding: 50px;
}

footer nav {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 10vw;
    text-align: center;
}

footer nav p {
    margin-top: 20px;
    font: normal normal normal 14px/21px 'MyCustomFont';
    letter-spacing: 0px;
    color: #2C2C2C;
}

.underFooter {
    height: 51px;
    background: #000;
    border-bottom: 6px solid #1AE0EC;
    display: flex;
    flex-direction: row;
    gap: 75vw;
    align-items: center;
}

.underFooter p {
    color: #1AE0EC;
}

.underFooter .leftP {
    margin-left: 29px;
    text-align: left;
    font: normal normal normal 20px/29px MyCustomFont;
    letter-spacing: 0.5px;
}

.underFooter .rightP {
    margin-right: 21px;
    text-align: right;
    font: normal normal 300 20px/29px MyCustomFont;
    letter-spacing: 0;
}