/* @import url('https://fonts.googleapis.com/css2?family=MyCustomFont:wght@100;200;300;400;500;600;700;800;900&family=Nunito+Sans:ital,opsz,wght@1,6..12,600&display=swap'); */

/* @font-face {
    font-family: 'MyCustomFont'; */
/* שם הפונט */
/* src: url('/public/fonts/brown-sugar.ttf') format('truetype'); */
/* src: url('/public/fonts/VarelaRound-Regular.ttf') format('truetype'); */


/* src: url('/public/fonts/SourGummy-VariableFont_wdth,wght.ttf') format('truetype'); */
/* src: url('/public/fonts/SourGummy-Italic-VariableFont_wdth,wght.ttf') format('truetype'); */
/* נתיב לקובץ הפונט */
/* font-weight: normal;
    font-style: normal;
} */


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


@font-face {
    font-family: 'BrownSugar';
    src: url('/public/fonts/brown-sugar.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'VarelaRound';
    src: url('/public/fonts/VarelaRound-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}



@import url('https://fonts.googleapis.com/css2?family=Abhaya+Libre:wght@400;500;600;700;800&display=swap');

* {
    box-sizing: border-box;
    scroll-behavior: smooth;
}

:root {
    /* --footer-clr: #E0FFE0;
    --footer-clr: #FDE2E2; */
    --footer-clr: #FFFACD;
    --section-clr: #2C2C2C;
}


body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    color: #000;
    /* height: 1000vh; */
}

.lang-he .headline {
    font-family: 'VarelaRound', sans-serif;
}

.lang-en .headline {
    font-family: 'BrownSugar', sans-serif;
}


.header {
    height: 200vh;
    /* padding: 100px; */
    /* background: #13E8F163; */
}

.headerContainer {
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.box {
    width: 150px;
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    font-weight: bold;
    position: absolute;
}

/* .headline {
    right: 0;
}

.headline {
    text-align: center;
    font-family: 'MyCustomFont', sans-serif;
    font: normal normal 900 200px/118px 'MyCustomFont';
    letter-spacing: 0px;
    margin-bottom: 8px;
} */

.textHeader {
    left: 0;
}

.spacer {
    height: 100vh;
}


.icons {
    margin: auto;
    width: 80vw;
    text-align: center;
    height: 100vh;
    justify-content: center;
    align-items: center;
    z-index: 9;
    padding: 2vw;
}



.icon {
    margin: auto;
    display: flex;
    flex-direction: column;
    gap: 1vw;
}

.icons img {
    width: 5vw;
}

.firstRowIcons,
.secondRowIcons {
    display: flex;
    flex-direction: row;
    gap: 25px;
    justify-content: center;
    margin-top: 3vw;
    text-align: center;
}


.ProjectsButtons {
    display: flex;
    gap: 10px;
}

/* .ProjectsButtons button {
    opacity: 1;
} */

#projectsSection {
    width: 100vw;
    /* padding: 100px; */
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 1;
    margin: auto;

}








#aboutSection {
    width: 100vw;
    /* height: 100vh; */
    padding: 100px;
    text-align: center;
    display: flex;
    flex-direction: row;
    align-items: center;

    gap: 10vw;
    z-index: 1;
    margin: auto;
}

#aboutSection img {
    width: 30vw;
    /* height: 60vh; */
    border-radius: 80px;
}



.textOnMe .aboutMePar {
    width: 40vw;
    text-align: start;
}


.viewBtn {
    width: 260px;
    height: 41px;
    border-radius: 25px;
    font: normal normal bold 20px/30px 'MyCustomFont';
    letter-spacing: 0.3px;
    box-shadow: #000 0 2px 2px;
    cursor: pointer;
}

.viewBtn:hover {
    width: 265px;
    height: 45px;
}



/* Contact */

#contactSection {
    height: 180vh;
    background: #3A3A3A;
    color: #fff;
    display: flex;
    /* flex-direction: row; */
    /* gap: 10vw; */
    align-items: center;
    box-sizing: border-box;
}

#contactSection .letterContainer {
    margin-top: 0;
    height: 100%;
    margin-left: 100px;
}

.letterContainer img {
    width: 30vw;
}

#conectsContainer form {
    width: 40vw;
}

#conectsContainer form h3 {
    font: normal normal 900 36px/53px 'MyCustomFont';
    letter-spacing: 0px;
    color: #FFFFFF;
    margin-bottom: 10px;
}

#conectsContainer form p {
    width: 100%;
    height: 58px;
    font: normal normal normal 20px/29px 'MyCustomFont';
    letter-spacing: 0px;
    color: #FFFFFF;
    margin-bottom: 50px;
}

#conectsContainer form label {
    font: normal normal bold 16px/24px 'MyCustomFont';
    letter-spacing: 0px;
    color: #FFFFFF;
}

#conectsContainer form input {
    width: 100%;
    height: 50px;
    margin-bottom: 15px;
    border-radius: 10px;
    font-size: 1.6rem;
    text-align: right;
}

textarea {
    width: 100%;
    height: 200px;
    border-radius: 10px;
    text-align: right;
    font-size: 1.6rem;
}


#conectsContainer #submit {
    width: 166px;
    height: 50px;
    background: #1AE0EC 0% 0% no-repeat padding-box;
    border-radius: 25px;
    font: normal normal bold 22px/30px 'MyCustomFont';
    letter-spacing: 0.33px;
    color: #2C2C2C;
    text-align: center;
    box-shadow: hsl(241, 100%, 18%) 0 3px 3px;
    cursor: pointer;
}

#conectsContainer #submit:hover {
    width: 170px;
    height: 52px;
}

footer {
    background-color: var(--footer-clr);
    padding: 5vh;
}

footer nav {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 10vw;
    text-align: center;
    align-items: center;
}

.iconContainer {
    width: 10vw;
    height: 20vh;
    align-items: center;
    justify-content: center;
    margin: auto;
    display: flex;
    flex-direction: column;
    gap: 5vh;
}

.iconContainer .footerIconTtl {
    font: normal normal normal 14px/21px;
    font-family: 'Inter', sans-serif;
    letter-spacing: 0px;
    color: #2C2C2C;
    align-items: center;
}



.FooterIconBtn {
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
}

.FooterIconBtn img {
    display: block;
    width: 40px;
    height: auto;
}

.underFooter {
    height: 9vh;
    background: #2C2C2C;
    border-bottom: 6px solid var(--footer-clr);
    display: flex;
    flex-direction: row;
    gap: 75vw;
    align-items: center;
    justify-content: center;
}

.underFooter p {
    color: var(--footer-clr);
}

.underFooter .leftP {
    margin-left: 29px;
    text-align: left;
    font: normal normal normal 18px/25px;
    font-family: 'Inter', sans-serif;
    letter-spacing: 0.5px;
    margin: auto;
}

.underFooter .rightP {
    margin-right: 21px;
    text-align: right;
    font: normal normal 300 18px/25px;
    font-family: 'Inter', sans-serif;
    letter-spacing: 0;
    margin: auto;
}


button {
    z-index: 10000 !important;
    position: relative;
}

/* .languageButtons {
    position: fixed;
    display: flex;
    flex-direction: column;
    top: 15vh;
    right: 2vw;
    text-align: center;
    padding: 10px;
    z-index: 1000;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    background-color: #fff;
}


.languageImg {
    width: 6vh;
} */


#contactSection {
    display: flex;
    flex-direction: row;
}


.contactForm {
    text-align: center;
    align-items: center;
    margin: auto;
    width: 80vw;
    z-index: 10;
    position: relative;
}

.contactForm .form-control:focus {
    border-color: #007bff;
    box-shadow: 0 0 8px rgba(0, 123, 255, 0.5);
    transition: all 0.3s ease;
}

.ttlIcnContact {
    display: none;
}

.ttlTxtContact {
    display: inline;
}

label.focused .ttlIcnContact {
    display: inline;
}

label.focused .ttlTxtContact {
    display: none;
}


.contactForm .contactP {
    margin: 8vh auto;
    width: 40vw;
}


.message {
    width: 30vw;
}

.letterContainer {
    width: 20vw;
}

.headline {
    font-size: 60px;
    line-height: 20vh;
}

.form-control:focus {
    border-color: #6c63ff;
    box-shadow: 0 0 0 0.2rem rgba(108, 99, 255, 0.25);
    transition: all 0.3s ease;
}

.row {
    width: 60vw;
    margin: auto;
    text-align: center;
}


@media screen and (max-width: 768px) {

    .languageButtons {}

    .languageImg {
        width: 5vh;
    }

    /* .languageButtons {
        position: fixed;
        display: flex;
        flex-direction: column;
        top: 15vh;
        right: 2vw;
        text-align: center;
        padding: 10px;
        z-index: 1000;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
        background-color: #fff;
    } */
}