:root {
    --link-clr: #007bff;
}


.dark {
    --link-clr: #9b59b6;
}



.featuredContainer {
    width: 100vw;
    height: auto;
    background-color: #2C2C2C;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10vh;
}


.project {
    background-color: rgb(255, 255, 255);
    box-shadow: 0 4px 12px rgb(0, 0, 0);
    border-radius: 15px;
    width: auto;
    height: auto;
    padding: 1vw;
    display: flex;
    gap: 2vw;
    align-items: center;
    justify-content: center;
    margin: 10vh;
}

.featuredProjectImg {
    width: 40vw;
    height: 70vh;
    border-radius: 10px;
    cursor: pointer;
}



.text {
    width: 35vw;
    text-align: start;
}

.text .buttons {
    display: flex;
}

.text .buttons .button {
    width: 9vw;
    height: 5vh;
    font-size: 0.8rem;
    border: none;
    border-radius: 3px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.text .button a {
    text-decoration: none;
    justify-content: center;
    display: flex;
}

.liveSiteBtn {
    background-color: var(--link-clr);
}

.viewCodeBtn a {
    color: var(--link-clr)
}

.liveSiteBtn a {
    color: white;
}

.viewCodeBtn,
.downloadBtn {
    background-color: white;
}


@media screen and (max-width: 768px) {



    .project {
        width: 80vw;
        height: auto;
        padding: 15px;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin: 7vh;
    }


    .featuredProjectImg {
        width: 75vw;
        height: 40vh;
        border-radius: 10px;
        cursor: pointer;
    }


    .text {
        width: 70vw;
        font-size: 13px;
        text-align: start;
    }

    .text .buttons {
        width: 70vw;
        justify-content: space-between;
    }

    .text .buttons .button {
        width: auto;
        padding: 2vw;
        font-size: 13px;
    }
}